.timing{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.apply-form-div{
    margin-left: 4%;
    margin-right: 4%;
    background-color: #FAFAFA;
    margin-bottom: 4.5%;
}

.submit-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.apply-form-div h2{ 
    margin-top: 2.5%;
    margin-bottom: 2%;
}

.apply-form-div h1{ 
    margin-top: 2.5%;
    margin-bottom: 2%;
}

.personal-data, .prof-data{
    margin-bottom: 3%;
}

.apply-form-div span{
    margin-bottom: 4%;
}

@media screen and (max-width: 768px) {
    .apply-form-div form{
        display: flex;
        flex-direction: column !important;
    }

    .timing{
        width: 95%;
    }
}

@media screen and (max-width: 320px) {
    .apply-form-div form{
        display: flex;
        flex-direction: column !important;
    }

    .timing{
        width: 95% !important;
    }
}
